@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Inter:wght@300;500;600;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}
body {
  background-color: #011f26;
  color: #bfb493;
}
@layer utilities {
  .bounce {
    animation: bouncing 2s ease-in infinite;
  }
}

@keyframes bouncing {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
